.grid {
    width: var(--default-grid);
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 3));
}

.col-2-8 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 3) * 2);
}

.col-12 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 12) * 12);
}

.learningPath-header {
    position: relative;
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0 1px 1px #ccc;
    margin-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.learningPath-header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
    width: 11px;
    background-color: #137ac9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.learningPath-header__left-title {

}

.learningPath-header__content {

}

.learningPath-header__right-title {

}

.learningPath-item {
    width: 100%;
    height: 260px;
    background-color: transparent;
    border-left: 1px solid rgba(204, 204, 204, 0.5);
    margin-left: 10px;
}

.learningPath-item__link {
    display: flex;
}

.learningPath-item__image {

}

.learningPath-item__image-custom {
    width: 330px;
    height: 224px;
    // padding: 64px 104px;
}

.learningPath-item__content {
    width: 100%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.learningPath-item__content__name {
    font-size: 2rem;
    display: block;
    width: 100%;
}

.learningPath-item__content__description {
    
}

.learningPath-item__content__go {
    
}

.wrap {
    display: flex;
}

.test-2 {
    width: 100%;
    height: 100px;
    background-color: #000;
}