.search, .search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    padding-left: 16px; // tuy chinh
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;
    // fixed search in center of header
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4px;

    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        color: var(--black);
        caret-color: var(--primary); // dấu nháy
        font-size: 1rem; // tuy chinh
        background-color: transparent; // trong suốt
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #000;
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2 );
        background-color: rgba(22, 24, 35, 0.12);
    }

    // focus khi search input vào sẽ hover 
    &:focus-within {
        border-color: #000;
    }
}

.search-title {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.clear, 
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 10px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    font-size: 15px;
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    //border-radius: var(--seacrh-border-radius);
    font-size: 1rem;
    color: #ccc;

    &:hover {
        cursor: pointer; // thành hình pointer
        background-color: rgba(134, 143, 210, 0.12);
    }

    &:active {
        background-color: #babbc323;
    }
}