.wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.grid {
    width: var(--default-grid);
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.col-12 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 12) * 12);
}

.reset-password-wrap {
    margin-left: 30%;
    margin-right: 30%;
    padding: 30px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0 1px 1px #ccc;
    border-radius: 10px;
}

.reset-password-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.reset-password-header__logo {
    margin-left: 80px;
}

.reset-password-header__title {
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
}

.reset-password-content {
    text-align: center;
}

.reset-password-content__new-password {
    display: flex;
    flex-wrap: wrap;
}

.reset-password-content__required {
    color: red;
}

.reset-password-content__new-password-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 40px;
}

.reset-password-content__new-password-input,
.reset-password-content__re-new-password-input {
    width: 100%;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 50px;
    padding: 10px;
    margin: 10px 0;
}

.reset-password-content__email-input:focus {
    outline: 1px solid var(--primary);
}

.reset-password-content__re-new-password-input:focus {
    outline: 1px solid var(--primary);
}

.reset-password-content__new-password-hint {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

.reset-password-content__re-new-password {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}

.reset-password-content__re-new-password-title,
.reset-password-content__verify-button__title {
    font-size: 1.4rem;
    font-weight: 600;
}

.reset-password-content__verify {
    margin-top: 10px;
    margin-bottom: 10px;
}

.reset-password-content__verify-button {
    width: 100%;
    border-radius: 50px;
}
