.wrapper {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.grid {
    width: var(--default-grid);
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.col-12 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc((100% / 12) * 12);
}

.register-wrap {
    margin-left: 30%;
    margin-right: 30%;
    padding: 30px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0 1px 1px #ccc;
    border-radius: 10px;
}

.register-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.register-header__logo {
    margin-left: 80px;
}

.register-header__title {
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
}

.register-content {
    text-align: center;
}

.register-content__full-name {
    display: flex;
    flex-wrap: wrap;
}

.register-content__full-name-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 40px;
}

.register-content__email {
    display: flex;
    flex-wrap: wrap;
}

.register-content__required {
    color: red;
}

.register-content__email-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 40px;
}

.register-content__full-name-input,
.register-content__email-input,
.register-content__password-input {
    width: 100%;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 50px;
    padding: 10px;
    margin: 10px 0;
}

.register-content__email-input:focus {
    outline: 1px solid var(--primary);
}

.register-content__password-input:focus {
    outline: 1px solid var(--primary);
}

.register-content__full-name-input:focus {
    outline: 1px solid var(--primary);
}

.register-content__password {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}

.register-content__password-title,
.register-content__register-button__title {
    font-size: 1.4rem;
    font-weight: 600;
}

.register-content__verify-email {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}

.register-content__verify-email-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.register-content__verify-email-input-wrap {
    display: flex;
    width: 100%;
}

.register-content__verify-email-input {
    width: 80%;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 50px;
    padding: 10px;
    margin: 10px 0;
}

.register-content__verify-email-input:focus {
    outline: 1px solid var(--primary);
}

.register-content__verify-email-button {
    width: 20%;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.register-content__login {
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-content__register-button {
    width: 100%;
    border-radius: 50px;
}

.register-content__register {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.register-content__register-link {
    font-weight: 600;
    color: var(--primary);
    margin-left: 4px;
}
